@Html.Partial("Navbar-LoggedIn")

<h1>YOUR LISTS</h1>
<hr>

<div class="list_container">
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </thead>
        <tbody>
        @{
            foreach(var list in ViewBag.Lists) {
                <tr>
                    <td><a href="lists/@list.ListId" class="list_name">@list.Name</a>
                    
                        <form action="test" method="post" class="edit_name">
                            <input type="text" name="Name" value="@list.Name">
                        </form>
                    </td>
                    <td class="list_description" list_description="list_description">@list.Description</td>
                    <td>                
                        <form action="edit_list/@list.ListId" method="post" class="list_delete_btn">
                            <input type="submit" value="Edit" class="btn btn-default btn-xs list_delete_btn action_btn">
                        </form>

                        <form action="delete_list/@list.ListId" method="post" class="list_delete_btn">
                            <input type="submit" value="Delete" class="btn btn-default btn-xs list_delete_btn action_btn">
                        </form>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>

    <button class="show_list_form btn btn-default btn-block">Add New List</button>

    <form action="add_list" method="post" class="add_list_form form-inline">
        <input type="text" name="Name" class="list_name form-control" placeholder="List name">
        <input type="text" name="Description" class="list_description form-control" placeholder="List description">
        <input type="submit" value="Create List" class="btn btn-success">
    </form>

    <script type="text/javascript">

            $(function() {

                $(".list_edit_btn").on("click", function(e){
                    e.preventDefault();
                    $(this).next(".edit_name").fadeIn();
                })

                // Add New List BUTTON
                $(".show_list_form").on("click", function(e){
                    e.preventDefault();
                    $(".show_list_form").fadeOut();
                    $(this).next('.add_list_form').fadeIn();
                })

            });

    </script>
</div>