@Html.Partial("Navbar-LoggedIn")

<div class="dashboard_img">

    <img src="~/images/camera.jpg" alt="camera" class="camera_img">
    <div class="quote">
        <h2>Round up the usual suspects.</h2>
        <h4>-Casablanca (1942)</h4>
    </div>
</div>
