@{
    ViewData["Title"] = "About";
}

@Html.Partial("Navbar-Index")

<div class="list_container">

    <h1>Greetings fellow movie lovers!</h1>
    <hr>
    <p>The Movie Log is a website where you can share and keep track of all your favorite movies (or even your least favorite ones. We wont tell!). The shining point of this application is being able to create lists and add related movies to said list, which utilizes The Movie DB's API, AKA the magic that makes this site possible. Let's give them a round of applause. *much energetic clapping*.</p>
    <p>You're also invited to check out the explore page, in which you are able admire others find taste in films. And maybe oneday you'll be able to follow your favorite people (you'll have to bug the developer about that one).</p>

    <img src="~/images/TMDB.png" class="movie_db_logo">

</div>