.login-container {
    width:300px;
    display: block;
    margin: 0 auto;
}

.register-container {
    width:300px;
    display: block;
    margin: 0 auto;
}

.login-reg-title {
    text-align: center;
}

.form_titles {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: lighter;
}

.update-hr {
    margin: 5px;
}